@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&family=Public+Sans:wght@500;700;900&family=Ultra&display=swap');

/*
Lighting:
0.0 rgb(255, 184, 126)
0.1 rgb(255, 185, 128)
0.2 rgb(255, 187, 132)
0.25 rgb(255, 189, 136)
0.3 rgb(255, 192, 140)
0.4 rgb(255, 198, 151)
0.5 rgb(255, 205, 164)
0.6 rgb(255, 213, 179)
0.7 rgb(255, 223, 196)
0.75 rgb(255, 228, 206)
0.8 rgb(255, 233, 215)
0.9 rgb(255, 244, 235)

*/
:root {
    --font-color-base: #000;
    --font-color-sat: #22b;
    --font-color-holiday: #a33;
    --bg-color: #f0f0f0;
}

html * {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    user-select: none;
    outline: none;

    background-image: url(../img/wood2.jpg);
    background-attachment: fixed;
    background-size: cover;

    font-family: "Public Sans", source-han-sans-japanese;
    font-weight: 400;
    white-space: nowrap;
    line-height: 1;
    color: var(--font-color-base);
}

.bg-desktop {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;

    background-image: url(../img/wood2.jpg);
    background-attachment: fixed;
    z-index: -1;
    pointer-events: none;
}

.bg-lighting {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
    pointer-events: none;
    background-color: rgb(255, 244, 235);
    mix-blend-mode: multiply;
    top: 0px;
}

main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
}

.cal-container {
    height: 100vmin;
    width: 100vmin;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6vmin 1fr;

    box-shadow: 1vmin 4vmin 1vmin 1vmin #00000040;
}

.binder {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(180deg, #800 0%, #600 100%);
    background-blend-mode: multiply;
    box-shadow: 0 1vmin 1vmin 0.2vmin #00000060;
    z-index: 1;
}

.pin {
    width: 3vmin;
    height: 3vmin;
    border-radius: 50%;
    background-image: repeating-conic-gradient(
        from 135deg,
        #dcdc7c 0,
        #c9ab6e 25%,
        #dcdc7c 50%
    );
    box-shadow:
        -0.15vmin -0.15vmin 0.1vmin #0006 inset,
        0.15vmin 0.15vmin 0.1vmin #fffc inset;
}

.paper-container {
    position: relative;
}

.paper-bound,
.paper-flipped {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.paper-flipped {
    pointer-events: none;
}

.paper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--ink-color);
    opacity: 0.96;
}

.paper .paper-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    background: url(../img/paper2.png);
    box-shadow: 0 0 25vmin rgb(255, 233, 215) inset;
}

.paper:nth-last-child(2) .page-content {
    filter: blur(0.3vmin);
}

.templates {
    display: none;
}

.paper.weekday {
    --ink-color: var(--font-color-base);
}
.paper.saturday {
    --ink-color: var(--font-color-sat);
}
.paper.sunday {
    --ink-color: var(--font-color-holiday);
}

.paper.flipping {
    animation: paper-flipping 2s ease-in-out;
    transform-origin: left top;
}
.paper.swiping-back {
    transition: all ease-out 67ms;
}

.paper .paper-bg.swiping-back {
    transition: all ease-out 67ms;
}


@keyframes paper-flipping {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: translateY(5vmin) rotate(10deg);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(100vmin) rotate(5deg);
        opacity: 0;
    }
}

.page-content {
    position: relative;
    height: 100%;
    padding: 1vmin 1.5vmin 3vmin 1.5vmin;
}

.paper.date .page-content {
    display: grid;
    grid-template-columns: 15vmin 1fr 15vmin;
    grid-template-rows: 1fr auto;

    grid-template-areas:
        "left center right"
        "left bottom right";
    
}

.page-content.loading {
    visibility: hidden;
}

.col-right {
    grid-area: right;

    display: grid;
    grid-template-rows: auto auto 1fr auto auto;
    justify-items: center;
}

.col-center {
    grid-area: center;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
}

.col-left {
    grid-area: left;
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    justify-items: center;
}

.bottom {
    grid-area: bottom;
}

.row {
    writing-mode: vertical-rl;
}

/* ------ RIGHT ------ */

.year-jp {
    display: flex;
    align-items: center;
    margin-top: 2vmin;
    gap: 1vmin;

    font-family: "Public Sans", source-han-sans-japanese;
    font-weight: 900;
}

section.year-jp-present {
    font-size: 4vmin;
}

div.year-jp-separator {
    font-size: 2vmin;
    font-feature-settings: "vpal" 1;
}

section.year-jp-legacy {
    line-height: 1.125;
    font-size: 1.8vmin;
}

section.month {
    margin-top: 2vmin;
    transform-origin: 50% 0%;
}

section.month .month-num {
    margin-bottom: 2vmin;
}

section.month .month-num svg {
    height: 13.5vmin;
    width: 10vmin;
}

section.month .month-label {
    display: inline-block;
    height: 12vmin;
    transform: scale(1, 1.2);
    transform-origin: 50% 0%;

    font-family: source-han-sans-japanese;
    font-weight: 900;
    font-size: 10vmin;
}

section.len-of-month-mark {
    background-color: var(--ink-color);
    color: var(--bg-color);
    margin: 1vmin 0vmin;
    border-radius: 50%;
    padding: 0.2vmin 0.8vmin 1.2vmin 0.8vmin;

    font-family: source-han-sans-japanese;
    font-weight: 900;
    font-size: 5.5vmin;
    text-align: center;
}

section.events {
    display: flex;
    position: relative;
    width: 14vmin;
    height: 22vmin;
    align-self: center;

    flex-direction: column;
    justify-content: space-around;

    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: justify;
    text-align-last: justify;
    font-size: 2.8vmin;
    line-height: 3vmin;
    white-space: nowrap;
}

section.events div {
    position: relative;
    font-feature-settings: "vpal" 1;
    transform-origin: top;
    font-family: heisei-maru-gothic-std;
    font-weight: 400;
    min-height: 100%;
    height: fit-content;
}
section.events div .digit-2 {
    text-combine-upright: all;
    padding-top: 0.6vmin;
}
section.events div.long-name {
    text-align: left;
    text-align-last: right;
}

section.choku {
    width: 100%;
    align-self: center;
    margin: 1.5vmin 0;
    border-top: 1px solid var(--ink-color);
    border-bottom: 1px solid var(--ink-color);

    font-feature-settings: "palt" 1;
    text-align: center;
}

section.choku .label-choku {
    padding: 1vmin 0;
    border-bottom: 1px solid var(--ink-color);
    font-size: 2vmin;
}

section.choku .choku-name {
    padding: 1vmin 0;
    font-size: 3.2vmin;
    text-align: center;
    text-indent: 1vmin;
    letter-spacing: 1vmin;
    white-space: nowrap;
}

/* ----- CENTER ----- */
section.year-ad {
    font-family: "Public Sans";
    font-weight: 900;
    font-size: 6vmin;
    text-align: center;
    transform: scale(1.8, 1);
    letter-spacing: 0.5vmin;
}
.day-frame {
    position: relative;
    align-self: center;
    justify-self: stretch;
    text-align: center;
}

section.day {
    position: relative;
    white-space: nowrap;
}
section.holiday-name {
    position: absolute;
    top: 0;
    right: 1vmin;
    height: 25vmin;

    writing-mode: vertical-rl;
    text-orientation: upright;
    color: var(--font-color-holiday);
    font-family: source-han-serif-japanese;
    font-weight: 700;
    font-size: 4vmin;
    text-align: justify;
    text-align-last: justify;
    white-space: nowrap;
}

section.day svg {
    display: inline-block;

    --size: 70vmin;
    width: calc(var(--size) * var(--ratio));
    height: var(--size);
}

.paper.holiday .day-frame::before {
    content: "";
    display: block;
    position: absolute;

    top: 10%;
    left: 7%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: var(--font-color-holiday);
}
.paper.saturday.holiday section.day svg,
.paper.sunday.holiday section.day svg {
    stroke-width: 0.05vmin;
    stroke: var(--bg-color);
    paint-order: stroke;
}

.paper.holiday section.day.digit-2 {
    padding-right: 4vmin;
}
.paper.holiday section.day.digit-2 svg {
    width: calc(var(--size) * var(--ratio) * 0.96);
    height: calc(var(--size) * 0.9);
    transform: scaleY(calc(1 / 0.9));
}


/* ----- LEFT ----- */

section.weekday-jp {
    margin-top: 2vmin;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: source-han-sans-japanese;
    font-weight: bold;
    font-size: 9vmin;
    letter-spacing: 0.5vmin;
}

section.weekday-en {
    font-family: "Public Sans";
    font-weight: bold;
    font-size: 5vmin;
    margin-bottom: 2vmin;
}

section.weekday-en span {
    vertical-align: -7%;
}

.row-lunar-info {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas:
        "kyusei jikkan"
        "rokuyo junishi"
        "date date";
    row-gap: 0.5vmin;
}

section.lunar-date {
    grid-area: date;
    font-family: "Public Sans", source-han-sans-japanese;
    font-weight: 900;
    font-size: 4vmin;
    letter-spacing: 0.2vmin;
}

.lunar-date-mark {
    display: inline-block;
    background-color: var(--ink-color);
    color: var(--bg-color);
    border-radius: 50%;
    padding: 0.5vmin;

    font-family: source-han-sans-japanese;
    font-weight: 900;
    font-size: 3vmin;
    vertical-align: text-top;
}

section.rokuyo,
section.kyusei,
section.jikkan,
section.junishi {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 3vmin;
    letter-spacing: 0.2vmin;
}

section.rokuyo {
    grid-area: rokuyo;
}
section.kyusei {
    grid-area: kyusei;
}
section.jikkan {
    grid-area: jikkan;
    text-align: right;
}
section.junishi {
    grid-area: junishi;
    text-align: right;
}

section.moon-age {
    writing-mode: vertical-rl;
    text-orientation: upright;
    align-self: center;
}

section.moon-age .moon-age-name {
    text-align: center;
    font-size: 2vmin;
    font-feature-settings: "vpal" 1;
}

section.moon-age .moon-age-name.shorter {
    text-indent: 1vmin;
    letter-spacing: 1vmin;
}

section.moon-age .moon-face {
    margin-right: 0.2vmin;
    padding: 0.5vmin;
    background-color: var(--ink-color);
    height: auto;
}
section.moon-age .moon-face svg {
    width: 9vmin;
    height: 9vmin;
}
/* ------ BOTTOM ------ */

section.nanajunikou {
    display: grid;
    width: fit-content;
    margin: 0 auto 1vmin auto;
    grid-template-areas: "label name desc";
    grid-template-columns: auto 1fr;
    gap: 1vmin;
    align-items: center;
    /*font-family: "Yu Mincho", "YuMincho";*/
    /*font-weight: bold;*/
}

section.nanajunikou .nanajunikou-label {
    grid-area: label;
    padding-right: 1vmin;
    border-right: 0.15vmin solid var(--ink-color);
    white-space: nowrap;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;

    font-family: source-han-serif-japanese;
    font-weight: 700;
    font-size: 1.5vmin;
    font-feature-settings: "vpal" 1;
}

section.nanajunikou .nanajunikou-name {
    grid-area: name;
    font-family: source-han-serif-japanese;
    font-weight: 700;
    font-size: 2.5vmin;
    font-feature-settings: "palt" 1;
}
section.nanajunikou .nanajunikou-desc {
    grid-area: desc;
    font-size: 1.8vmin;
    font-family: heisei-maru-gothic-std;
    font-weight: 400;
}

section.shuku {
    display: grid;
    width: fit-content;
    margin: 0 auto 0 auto;
    grid-template-areas: "label value desc";
    grid-template-columns: auto auto 1fr;
    gap: 1vmin;
    align-items: center;
}

section.shuku .shuku-label {
    grid-area: label;
    height: 5.9vmin;
    white-space: nowrap;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    font-family: source-han-serif-japanese;
    font-weight: 700;
    font-size: 1.5vmin;
    font-feature-settings: "vpal" 1;
}

section.shuku .shuku-name {
    grid-area: value;
    padding: 0.2vmin;
    border: 0.25vmin solid var(--ink-color);
    font-family: source-han-serif-japanese;
    font-weight: 700;
    font-size: 5vmin;
}
section.shuku .shuku-name-inner {
    display: inline-block;
    position: relative;
    top: -0.25vmin;
}

section.shuku .shuku-desc {
    font-size: 1.8vmin;
    font-family: heisei-maru-gothic-std;
    font-weight: 400;
}
section.quotes {
    text-align: center;
    font-size: 2vmin;
}

/* ------ MONTHLY CALENDAR ----- */
section.monthlycal {
    width: 100%;
    padding: 0.3vmin 0.2vmin;
    border: 0.2vmin solid var(--ink-color);
}

.monthlycal-header {
    margin-bottom: 0.4vmin;
    text-align: center;
    font-size: 2vmin;
}

.monthlycal-header .monthlycal-month {
    font-size: 2vmin;
    font-weight: bold;
}
.monthlycal-header .monthlycal-year {
    font-size: 1.7vmin;
    font-weight: bold;
}

.monthlycal-header .monthlycal-label-month,
.monthlycal-header .monthlycal-label-year {
    font-size: 1.5vmin;
}

section.monthlycal .monthlycal-table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    row-gap: 0.8vmin;

    font-size: 1.5vmin;
}

section.monthlycal .day {
    width: 1.8vmin;
    text-align: center;
}

section.monthlycal .holiday {
    outline: max(0.15vmin, 0.8px) solid var(--ink-color);
    outline-offset: -0.05vmin;
    border-radius: 50%;
}

section.monthlycal .day .day-inner.digit-2 {
    transform: scaleX(0.8);
}

section.monthlycal .day.combined {
    display: grid;
    position: relative;
    width: 100%;
    font-size: 0.9vmin;
}

section.monthlycal .day.combined .upper {
    justify-self: left;
    height: 0.8vmin;
    overflow: visible;
}

section.monthlycal .day.combined .lower {
    justify-self: right;
    height: 0.8vmin;
    overflow: visible;
}

section.monthlycal .day.combined .sep {
    position: absolute;
    top: 0.15vmin;
    left: -0.3vmin;
    height: 0;
    width: 100%;
    border-bottom: 0.1vmin solid var(--ink-color);
    transform: rotate(315deg);
    transform-origin: right top;
}

section.monthlycal .combined .holiday {
    outline-offset: 0.1vmin;
}

/* ------ DESCRIPTION ------ */
.paper.about-app .page-content {
    display: grid;
    grid-template-rows: 1fr auto;
    writing-mode: horizontal-tb;
    white-space: normal;
    line-height: 1.25;
    font-size: 2vmin;
}

.paper.about-app .about-app-page {
    display: none;
}
.paper.about-app .about-app-page.show {
    display: block;
}

.paper.about-app h1 {
    margin-bottom: 0.5em;
    font-size: 3.5vmin;
    text-align: center;
}
.paper.about-app p.author {
    text-align: center;
}
.paper.about-app p.desc {
    text-align: center;
}

.paper.about-app h2 {
    display: flex;
    margin: 1em 0;
    font-size: 2.5vmin;
}
.paper.about-app h2::before,
.paper.about-app h2::after {
    content: "";
    display: block;
    flex-grow: 1;
    height: 0.5em;
    border-bottom: 0.15vmin solid black;
}
.paper.about-app h2::before {
    margin-right: 2vmin;
}
 
.paper.about-app h2::after {
    margin-left: 2vmin;
}

.paper.about-app h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 2vmin;
}

.paper.about-app h3:first-child {
    margin-top: 0;
}

.paper.about-app .app-icon {
    width: 30vmin;
    height: 30vmin;
    margin: 2vmin;
    text-align: center;
}

.paper.about-app .page-content .col-right {
    grid-area: right;
    display: block;
    grid-template-rows: none;
}

.paper.about-app .col-main {
    grid-area: main;
}

.paper.about-app .legend {
    display: grid;
    gap: 2vmin;

    text-align: justify;
    hanging-punctuation: allow-end;
}
.paper.about-app .legend p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.paper.about-app .legend-1 {
    grid-template-rows: 50vmin auto;
    grid-template-columns: 50vmin 1fr;

    grid-template-areas:
        "legend right"
        "bottom right";
}

.paper.about-app .legend-2 {
    grid-template-rows: 50vmin auto;
    grid-template-columns: 1fr 50vmin;

    grid-template-areas:
        "left legend"
        "left bottom";
}

.paper.about-app .legend-3 {
    grid-template-rows: 50vmin auto;
    grid-template-columns: 1fr 50vmin;

    grid-template-areas:
        "left legend"
        "left bottom";
}

.paper.about-app .legend-image {
    grid-area: legend;
    width: 50vmin;
    height: 50vmin;
    border: 0.1vmin solid black;
    box-shadow: 0.2vmin 0.2vmin 0 black;
    justify-self: center;
}

.paper.about-app .legend-right {
    grid-area: right;
}

.paper.about-app .legend-left {
    grid-area: left;
}

.paper.about-app .legend-bottom {
    grid-area: bottom;
}
.paper.about-app .legend-bottom-right {
    grid-area: bottom-right;
}
.paper.about-app .legend-bottom-left {
    grid-area: bottom-left;
}

.paper.about-app .pager {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper.about-app .page-no {
    width: 15vmin;
    text-align: center;
    font-size: 2.5vmin;
}

/* ------ SETTINGS ------ */
article.settings {
    text-align: center;
    line-height: 1.25;
    font-size: max(2vmin, 10px);
    white-space: normal;
}

article.settings h1 {
    font-size: 2em;
}
article.settings h2 {
    font-size: 1.5em;
}

article.settings section {
    margin-top: 2em;
}

article.settings .set-date .ymd-fields {
    display: flex;
    width: fit-content;
    column-gap: 2vmin;
    margin: 0 auto;
}

/* ------ ETC ------ */
.digits {
    text-combine-upright: all;
    vertical-align: 10%;
}

svg {
    fill: currentColor;
}

.flick-guide {
    text-align: center;
}

.flick-guide svg {
    display: inline-block;
    width: 5em;
    height: 3em;
    vertical-align: middle;
}

.version {
    margin-top: max(0.5vmin, 3.75px);
    border-top: 0.2vmin solid #0008;
    padding-top: max(0.5vmin, 3.75px);

    mix-blend-mode: multiply;
    text-align: center;
    font-family: source-han-serif-japanese;
    font-weight: 700;
    font-size: max(2vmin, 16px);
    text-shadow: 0 0 max(0.3vmin, 2.25px) black;
    opacity: 0.5;
}

.dw1 {
    --ratio: calc(5.7591561 / 8.6048803);
}
.dw2 {
    --ratio: calc(3.6663721 / 4.7810864);
}
.dw3 {
    --ratio: calc(3.6043334 / 4.7810864);
}
.dw4 {
    --ratio: calc(3.8149898 / 4.7810864);
}
.dw5 {
    --ratio: calc(3.5764711 / 4.7810864);
}
.dw6 {
    --ratio: calc(3.7679992 / 4.7915716);
}
.dw7 {
    --ratio: calc(3.6155841 / 4.7810864);
}
.dw8 {
    --ratio: calc(3.7680287 / 4.7810864);
}
.dw9 {
    --ratio: calc(3.7679946 / 4.7810864);
}
.dw0 {
    --ratio: calc(3.7680159 / 4.7810864);
}

.dn1 {
    --ratio: calc(1.8610873 / 4.7810206);
}
.dn2 {
    --ratio: calc(2.1323357 / 4.7810211);
}
.dn3 {
    --ratio: calc(2.0962429 / 4.7810802);
}
.dn4 {
    --ratio: calc(2.2187757 / 4.7810211);
}
.dn5 {
    --ratio: calc(2.0800672 / 4.7810769);
}
.dn6 {
    --ratio: calc(2.1914384 / 4.7810802);
}
.dn7 {
    --ratio: calc(2.1027973 / 4.7810802);
}
.dn8 {
    --ratio: calc(2.1914454 / 4.7810802);
}
.dn9 {
    --ratio: calc(3.9441002 / 8.6048687);
}
.dn0 {
    --ratio: calc(2.1914406 / 4.7810802);
}

section.day svg + svg {
    margin-left: calc(var(--size) / 80);
}

.dn1 + .dn1 {
    margin-left: calc(var(--size) / 40);
}
.dn1 + .dn2 {
    margin-left: calc(var(--size) / 50);
}
.dn2 + .dn1 {
    margin-left: calc(var(--size) / 50);
}
.dn3 + .dn1 {
    margin-left: calc(var(--size) / 50);
}

/* ------ UI MATERIALS ------ */
.control-panel {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1vmin;
    opacity: 1;
    transition: opacity 0.2s linear;
}

.control-panel.timeout,
.control-panel.hidden {
    opacity: 0;
    pointer-events: none;
}

input:focus {
    outline: 0.5vmin solid #6004;
}

.btn:not(:disabled), .btn-paper:not(:disabled) {
    cursor: pointer;
}

.control-panel .btn {
    --height: max(4vmin, 30px);
    background-color: #0002;
    box-shadow: 0.4vmin 0.4vmin 0.4vmin #0004 inset;
    border: none;
    border-radius: calc(var(--height) / 2);
    padding: calc(var(--height) * 0.2) max(2vmin, 15px);
    mix-blend-mode: multiply;
    margin: 0 0.5vmin;

    font-family: "Public Sans", source-han-sans-japanese, sans-serif;
    font-size: calc(var(--height) * 0.6);
    font-weight: bold;
    line-height: 1;
    color: #0008;
}

.control-panel .btn svg {
    display: inline-block;
    width: max(3vmin, 22.5px);
    height: max(3vmin, 22.5px);
    margin: 0.5vmin;
}

.control-panel .btn:hover {
    background-color: #000c;
    box-shadow: 0.2vmin 0.2vmin 0.2vmin #0008;
    color: white;
}

.control-panel .btn:active {
    box-shadow: none;
}

.btn-paper {
    --height: max(5vmin, 37.5px);
    font-family: "Public Sans", source-han-sans-japanese, sans-serif;
    font-size: max(3vmin, 22.5px);
    line-height: 3vmin;
    background-color: white;
    border: none;
    border-radius: 0.7vmin;
    padding: calc(var(--height) / 2 - 1vmin) 2vmin calc(var(--height) / 2 - 1.5vmin);
    box-shadow:
        0.2vmin 0.2vmin 0.2vmin #fff8 inset,
        0 0 1.5vmin 0.2vmin rgba(199, 150, 0, 0.2) inset,
        -0.2vmin -0.2vmin 0.2vmin rgba(199,150,0,0.2) inset,
        0.1vmin 0.1vmin 1.5vmin #0006;

    font-family: heisei-maru-gothic-std;
    color: var(--font-color-base);
    text-shadow:
        0 0 1vmin #0004,
        0.1vmin 0.1vmin 0.2vmin #ffff,
        -0.1vmin -0.1vmin 0.2vmin #0004;
    transition: all 0.1s linear;
}

.btn-paper:hover:not(:disabled),
.btn-paper:active:not(:disabled) {
    background-image: radial-gradient(#ffef87 0%, white 100%);
}

.btn-paper:active:not(:disabled) {
    box-shadow: 0 0 1vmin #0003 inset;
}

.btn-paper:disabled {
    box-shadow:
        0 0 1.5vmin 0.2vmin rgba(199, 150, 0, 0.2) inset,
        -0.2vmin -0.2vmin 0.8vmin #0003;
    opacity: 0.5;
}

.switch {
    --width: max(8vmin, 60px);
    --height: max(5vmin, 37.5px);
    --gap: max(0.2vmin, 3px);
    --toggle-size: calc(var(--width) / 4);
    --radius: calc(var(--toggle-size) / 3);
}

.switch-label-on,
.switch-label-off {
    display: inline-block;
    font-size: max(3vmin, 22.5px);
    font-family: heisei-maru-gothic-std;
    vertical-align: -22%;
    margin: 0 1.5vmin;
    text-shadow:
        0 0 1vmin #0004,
        0.1vmin 0.1vmin 0.2vmin #ffff,
        -0.1vmin -0.1vmin 0.2vmin #0004;
}
.switch-label-on {
    color: var(--font-color-holiday);
}

.switch-body {
    display: inline-block;
    position: relative;
    width: var(--width);
    height: var(--height);

    border-radius: var(--radius);
    overflow: hidden;
    cursor: pointer;
    box-shadow:
        0vmin 0vmin 2vmin #0004 inset,
        0vmin 0vmin 1vmin #0004;

    vertical-align: middle;
}

.switch-body input[type=checkbox] {
    display: none;
}
.switch-body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: #0002;
    transition: left 0.2s ease-out, background-color 0.2s ease-out;
}
.switch-body::after {
    content: "";
    position: absolute;
    top: var(--gap);
    left: var(--gap);
    width: var(--toggle-size);
    height: calc(var(--height) - var(--gap) * 2);
    display: block;
    border-radius: calc(var(--radius) - var(--gap));
    background: white;
    transition: left 0.2s ease-out, background-color 0.2s ease-out;
    box-shadow: 
        0 0 0.6vmin #c7960080 inset,
        0 0 1vmin 0px #00000080;

    --mark-width: 0.3vmin;
    --mark-start: calc(var(--toggle-size) / 2 - var(--mark-width) / 2);
    --mark-end: calc(var(--toggle-size) / 2 + var(--mark-width) / 2);
    background-image: linear-gradient(90deg,
        transparent,
        transparent var(--mark-start),

        var(--font-color-holiday) var(--mark-start),
        var(--font-color-holiday) var(--mark-end),
        transparent var(--mark-end));
}
.switch-body.checked:before {
    background: var(--font-color-holiday);
    box-shadow: 0vmin 0vmin 2vmin #0004 inset;
}
.switch-body.checked:after {
    left: calc(var(--width) - var(--toggle-size) - var(--gap));
}

input[type=date] {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 0.3vmin solid var(--font-color-base);
    padding: 0.5vmin;
    width: 30vmin;
    min-width: 225px;
    height: calc(1.25em + 1vmin);
    min-height: calc(1.25em + 7px);

    font-family: "Public Sans", source-han-sans-japanese;
    font-size: max(4vmin, 30px);
    text-align: center;
    color: var(--font-color-base)
}